body {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    background-color: #001219;
}

article {
    background-color: #4a4e69;
    padding: 40px;
    margin: 40px;
    border-radius: 4px;
}