.container {
    width: 400px;
    height: 400px;
    background-color: steelblue;
    margin: 80px auto;
}

.box {
    width: 200px;
    height: 200px;
    background-color: tomato;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    transform-origin: 100px 200px;
    animation: circle-in-hesitate 0.5s ease alternate;
}

.box:hover {
    transform: rotate(45deg);
}