.container {
    background-color: teal;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    padding: 10px;
    row-gap: 10px;
}
.box {
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.round-border {
    border-radius: 50%;
    border: 5px solid black;
}